/**************Theme decider******************/
html {
    background-color: #f7f7f7;
}
.App {
    background-color: #f7f7f7;
	position: relative;
}
.auth-check {
    background-color: #f7f7f7;
}
.nav-myClass {
    background-color: #3b5998;
}
.news-card {
    background-color: #f7f7f7;
}
.card-btn {
    background-color: #3b5998;
    color: white;
}
.card-btn:hover {
    background-color: #1e335e;
    color: white;
}
.ctg-btn {
    background-color: #3b5998;
    color: white;
}
.ctg-btn:hover {
    background-color: #1e335e;
    color: white;
}
.btn-toggle {
    background-color: #3b5998;
    color: white;
}
.btn-toggle:hover {
    background-color: #1e335e;
    color: white;
}
.auth-btn {
    color: white;
    background-color: rgb(204, 240, 189);
    background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
}
.auth-btn:hover {
    color: white;
    background-color: #2f6618;
}
.nav-brand-link {
    color: white;
}
.nav-auth-link {
    color: white;
}
.nav-auth-link:hover {
    color: white;
    background-color: #1e335e;
}
.nav-authName-link {
    color: #dadaec;
}
.nav-authName-link:hover {
    color: #dadaec;
    cursor: default;
}

.dropdown-in {
    color: black;
    background-color: #f7f7f7;
}
.dropdown-link:hover {
    border-left: #3b5998;
    background-color: #c0cef7;
    border-style: solid;
}
.card-link {
    color: #272341;
}
.card-link:hover {
    color: #0e092e;
    text-decoration: underline;
}
.fa-github {
    color: black
}
/********* NAVBAR COMPONENT *************/
.navbar-collapse {
    flex-grow: unset;
}
.news-icon.svg-inline--fa.fa-w-18 {
    width: auto;
}
.news-icon {
    color: #f7f7f7;
    height: 23px !important;
    padding: auto .75rem;
    margin-right: 7px;
}
.navbar-toggler {
    padding-left: 7px;
    padding-right: 0px;
}
.toggle-icon {
    color: #f7f7f7;
}
@media (max-width: 766px) {
    .nav-brand-link {
        display: none;
    }
}
@media (min-width: 766px) {
    .news-icon {
        display: none;
    }
     
}

/************* Source News ***************/
.sources-button {
	position: absolute;
	left: 0%;
	top: 0%;
}
.sources-expanded-container {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	flex-wrap: wrap !important;
}
.logo-img {
	height: 100px;
	width: 116.85px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 20%;
}
.logo-img:hover { /* not working */
    border: black;
}

/************* Category News ***************/
.categories-button {
	position: absolute;
	right: 0%;
	top: 0%;
}
.category-link {
	margin: 5px;
	height: 5vh;
	max-width: 120px;
	width: 15vw;
}
.category-link > button {
	height: inherit;
	max-width: inherit;
	width: inherit;
}

.hoverer:hover {
	padding: 5px;
}

/************* Search bar **************/
.searchBar {
    color: #f7f7f7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    border: none;
}
.search-icon {
    color: #1e335e;
}
.search-icon:hover {
    color: #f2b31e;
}
.btn-search {
    background-color: white;
    padding-left: 3px;
    padding-right: 7px;
    margin-left: -7px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: calc(1.5em + .75rem + 2px);
}
.btn-search.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}
@media (min-width: 1200px ) {
    .form-inline {
        width: 30vw;
    }
    .form-inline .form-control {
        width: 92%;
    }
}
@media (max-width: 1200px) {
    .form-inline {
        width: 40vw;
    } 
    .form-inline .form-control {
        width: 92%;
    }
}
@media (max-width: 992px) {
    .form-inline {
        width: 45vw;
    }
    .form-inline .form-control {
        width: 92%;
    }
}
@media (max-width: 768px) {
    .form-inline {
        width: 50vw;
    }
    .form-inline .form-control {
        width: 92%;
    }
}
@media (max-width: 556.8px) {
    .form-inline {
        width: 60vw;
    }
    .form-inline .form-control {
        width: 88%;
    }
    
}

/****************** Flash message ******************/
.flash-msg-text {
    padding: 0.75rem 1.25rem;
}
.errorMsg {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.successMsg {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

/**** card-container, share-icon, bookmark-icon ****/
.card-container {
	position: relative;
	z-index: 0;
}
.bookmark-icon {
	position: absolute;
	right: 5px;
    font-size: 30px;
    color: #ebeffc;
    padding-right: 5px;
    cursor: pointer;
}
.bookmarked-icon {
    position: absolute;
    color: #f2b31e;
	right: 5px;
    font-size: 30px;
    padding-right: 5px;
    cursor: pointer;
}
.share-icon {
	position: absolute;
	left: 5px;
    font-size: 30px;
    color: #ebeffc;
    padding-left: 5px;
    cursor: pointer;
}
.share-icon :hover {
    color: #f2b31e;
}
.bookmark-icon :hover {
    color: #f2b31e;
}
/*********** card image size **************/
/* max width */
@media (min-width: 1200px ) {
    .card-img-top {
        width: 100%;
        height: 16vw;
        object-fit: fill;
    }
}
@media (max-width: 1200px) {
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: fill;
    }
}
@media (max-width: 992px) {
    .card-img-top {
        width: 100%;
        height: 23vw;
        object-fit: fill;
    }
}
@media (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 40vw;
        object-fit: fill;
    }
}


/**************404 page************/
.page_404 { 
    padding:40px 0; 
    background:#f7f7f7; 
    font-family: 'Arvo', serif;
}
@media (max-width: 768px) {
    .page_404 {
        margin-top: 50px;
    }
}
.page_404  img { 
    width:100%;
}
.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
.four_zero_four_bg h1 {
    font-size:80px;
}
.four_zero_four_bg h3 {
	font-size:80px;
}		 
.link_404 {			 
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404 { 
    margin-top:-50px;
}

/************ spinner ****************/
.loader {
	color: #60707b;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

